{% extends 'base.html' %}
{% block title %}
Customers
{% endblock title %}
{% block body %}

<div style="background-image: url('/static/b3.jpg'); 
   background-size: 100% 100%;
   margin-top: -50px; 
   background-position: center;">
  <div style="background: transparent; color: rgb(255, 255, 255); 
  margin-left: 160px;
  
  padding-top: 290px;
  padding-bottom: 60px;
  font-size: 40in;
  font-family:'Noto Sans JP', sans-serif;
  font-weight: 300; 
  text-align: center;
  padding-right: 600px;
   ">
    <h2>We help businesses <br> innovate and grow</h2>
    <h6 style="font-weight: lighter;">With 10 Yrs of Experience helping businesses to fixed their <br> comphreshive
      solution</h6>
  </div>

  <div style="margin-left: 300px; padding-bottom: 50px; padding-top: 0px;">
    <button type="button" class="button">
      <span>
        <a href="customers" style="text-decoration: none; color: rgb(245, 239, 240);">CUSTOMERS</a>
      </span>


    </button>
    <button type="button" class="button" style="margin-left: 40px;">

      <span>

        <a href="transactionhistory" style="text-decoration: none; color: rgb(245, 239, 240);">TRANSACTION</a>
      </span>
    </button>
  </div>


</div>










{% endblock body %}